<form name ="new_note" action="/notes" method="post" accept-charset="utf-8">
  <input type="hidden" name="archive_id" value="<%= @archive.id %>">
  <input type="text" name="note[note_title]" placeholder="Note title">
  <input type="text" name="note[note_text]" placeholder="Note text">
  <input type="text" name="note[note_tags]" placeholder="Note tags">

  <input class="button success" type="submit" value="Add note">
</form>