<div class="row">
  <div class="large-12 columns"><h1>Archive ID <%= @archive.id %></div>
  <div class="large-12 columns">
    <div class="panel">

    <% @archive.chats.reverse.each do |chat| %>
        <%= partial :'partials/chat_message', :locals => { :chat => chat } %>
    <% end %>

    </div>
  </div>
</div>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>