<div class="row">
  <div class="large-12 columns"><h1>Welcome to Chat Archiver</h1></div>
  <div class="large-12 columns">
    <div class="panel">
      <p>#web-fundamentals</p>
        <form name ="new_archive" action="/chats" method="post" accept-charset="utf-8">

          <input type="text" name="number[chat_number]" placeholder="How many messages would you like to archive?">

          <input type="submit" class="small success button" value="Archive">

        </form>
    </div>
  </div>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>