Home page

<form name ="new_archive" action="/chats" method="post" accept-charset="utf-8">

  <input type="text" name="number[chat_number]" placeholder="Chat number">

  <input type="submit" value="Add archive">
</form>