<div class="row">
  <div class="large-12 columns"><h1>Welcome to Chat Archiver</h1></div>
  <div class="large-12 columns">
    <div class="panel">
      <p>Home page</p>
    </div>
  </div>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>