<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Welcome to Slacker Notes</h1>

      <h3>Save and take notes on memorable conversations you have in Slack</h3>

      <form name ="auth" action="/auth" method="get" accept-charset="utf-8">

        <input type="submit" class="small success button" value="Save Chats">

      </form>

    </div>
  </div>
</div>