/*
 * HEADER
 */
header {
  min-width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  padding: 0.5em;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}




form.vertical label {
  display: inline-block;
  min-width: 120px;
  vertical-align: top;
}

form.vertical input { margin-bottom: 0.25em; }

form.vertical input[type="submit"] {
  margin-left: 124px;
  padding: 0.25em;
}

form.mini input[type="text"] { max-width: 160px; }
form.mini input[type="submit"] { float: right; }


/*
 * UTILITY CLASSES
 */
.no_bullets {
  list-style-type: none;
}

.no_padding {
  padding: 0;
}

.float_right {
  float: right;
  padding-left: 1em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.author {
  font-size: 20px;
  font-weight: bold;
  float:left;
  overflow: hidden;

}

.time_stamp {
  font-size: 10px;

}

.message_container {
  overflow: hidden;
}

/*
 * SECTION STYLING
 */

/* Archives section */
.archives li { margin-bottom: 2.5em; }
.archives li h4 { margin-bottom: 0; }

/* Chats */

a:hover {
    text-decoration: underline;
}

.data {
  display: none;
  visibility: hidden;
}
.chats li {
  padding: 0.3em;
  margin-bottom: 1em;
  background-color: #ccc;
  float: right;
  width: 100%;
  height: 30px;

}

.message_sender {
    word-break: break-word;
    color: #3d3c40;
    padding-right: .25rem;
    font-weight: 900;
    font-style: normal;

}

.message{
  padding:2;
  float:left;
}

.timestamp {
  color: #787878;
  padding-top: 5px;
  padding-left: 5px;
  float:left;
}

span.emoji {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    overflow: hidden;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: contain
}

span.emoji-sizer {
    line-height: 18px;
    font-size: 22px
}

span.emoji-outer {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    height: 1em;
    width: 1em
}

span.emoji-inner {
    display: -moz-inline-box;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: 3000% !important
}

span.emoji-sizer, span.emoji-inner {
    color: transparent !important;
    text-shadow: none !important;
    line-height: 3em !important;
    vertical-align: top
}

img.emoji {
    width: 1em;
    height: 1em
}

.name_timestamp{
  background: #EAEAEA;
  margin-bottom: 8px;
  float: left;
  width: 800px;
  border-radius: 5px;
  padding-left: 5px;
}

.large-11 {
width: 100%;
}


.columns .archive{
  position: relative;
  float: left;
  padding-left: 0px;
}

.profile_image{
  float:left;
  overflow:hidden;
  padding-top: 8px
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */

}
.author_link a{
  font-weight: 300;
}
.inline_attachment_wrapper{
  overflow: hidden;
}
.shim {
  width:4px;
}
.attachment_bar {
  width:4px;
  float: left;
  height: 80px;
}
.attachment_title{
  padding-left: 8px;
  float: left;
  font-size: 16px;
  font-weight: 600;
}
.attachment_contents{
  padding-left: 8px;
  float:left;
  width:75%;
  overflow:hidden;
}
.attachment_content {
  overflow:hidden;
}
.attachment_thumb{
  width:25%;
  overflow:hidden;
}

/* Users section */
.users li { margin-bottom: 2.5em; }

.users li h4 { margin-bottom: 0; }